body {margin: 20px; font-family:Verdana; font-size:12px; background:#52BAD7}

#box {margin:0 auto; width: 806px; padding: 20px; border-style: solid; border-width: 2px; text-align:justify; }

.beranda {color: #905E06;border-color: #CC9613;background: #FDE7C2}
.main {color:#224466; border-color:#4B84AA; background:#C2F2FD}
.shows {color:#224466; border-color:#4B84AA; background:#aaccdd}
.project {color:#224466; border-color:#4B84AA; background:#C2F2FD}
.about {color:#442266; border-color:#440044; background:#bfb0b8}
.faq {color:#002244; border-color:#224466; background:#E090AF}
.blog {color:#002222; border-color:#003344; background:#A0C0C0}
.red {color:#002244; border-color:#224466; background:#77143A}
.dl-box {
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    float: left;
    font-family: Arial,Tahoma,"Lucida Sans Unicode","Lucida Grande";
    font-size: 12px;
    line-height: 12px;
    margin: 0px 0px 20px;
    outline: 0px none;
    overflow: hidden;
    padding: 20px;
    vertical-align: baseline;
    width: 578px;
}
.dl-title {
    background-color: #00F;
    background-position: 7px 6px;
    background-repeat: no-repeat no-repeat;
    border: 1px none;
    color: #FFF;
    float: left;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    margin: 0px 0px 3px;
    outline: 0px none;
    padding: 10px 0px 10px 35px;
    vertical-align: baseline;
    width: 543px;
}
.dl-item {
    background-color: #FFF;
    background-position: 7px 6px;
    background-repeat: no-repeat no-repeat;
    border: 0px none;
    float: left;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    margin: 0px 0px 2px;
    outline: 0px none;
    padding: 10px 0px 10px 35px;
    vertical-align: baseline;
    width: 543px;
}

a {font-weight:bold; text-decoration:none; color:#091424}
b {font-weight:bold; text-decoration:none; color:#835A07}

A:hover {color:#3Fc5c0}

h2 {font-size:18px}
h3 {font-size:14px; padding-top:2px}
h4 {font-size:13px}
h5 {font-size:10px; padding-bottom:5px}
