body {
    background-color: #FAFAFA;
    background-image: url("https://1.bp.blogspot.com/-2nv5vPGoYQk/VrtHbAeyHgI/AAAAAAAACSQ/SukkY_hYkVk/s1600/bgleft3.png"), url("https://1.bp.blogspot.com/--F7XZOAEwLY/VrtHcc2Z5UI/AAAAAAAACSU/Gip3IpgrSHo/s1600/bgright3.png");
    background-attachment: fixed, fixed;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: auto auto, auto auto;
    background-repeat: no-repeat;
    background-position: left top, right top; }

#box {margin:0 auto; width: 806px; padding: 20px; border-style: solid; border-width: 2px; text-align:justify; }

.main {color:#224466; border-color:#4B84AA; background:#C2F2FD}
.shows {color:#224466; border-color:#4B84AA; background:#aaccdd}
.project {color:#224466; border-color:#4B84AA; background:#C2F2FD}
.about {color:#442266; border-color:#440044; background:#bfb0b8}
.faq {color:#002244; border-color:#224466; background:#90C0E0}
.blog {color:#002222; border-color:#003344; background:#A0C0C0}

a {font-weight:bold; text-decoration:none; color:#266DD2}

A:hover {color:#3Fc5c0}

h2 {font-size:18px}
h3 {font-size:14px; padding-top:2px}
h4 {font-size:13px}
h5 {font-size:10px; padding-bottom:5px}
